<div class="wrapper">
    {% assign myString = ["one", "two", "three"] %}

    <p>{{ myString }}</p>

    {% capture myString2 %}
        This is my second string.
    {% endcapture %}

    <p>{{ myString2 }}</p>

    {% comment %} 
        TODO: fix the rendering issue
        live browser update
    {% endcomment %}

</div>